<img class="img-responsive img-blog" src="{{ asset('uploads/charities/' ~ charity.banner)|imagine_filter('charity_image') }}" alt=""/>
<div class="blog-content">
    <h3>{{ charity.title }}</h3>
    {% include ':Charity:charity_header.html.twig' %}
    {{ charity.content | raw }}
    <hr>
    {% include '@App/Common/Charity/status.html.twig' %}
    {% if charity.video is not null %}
        <iframe width="520" height="415"
                src="{{ charity.video }}">
        </iframe>
    {% endif %}

    <div class="photos">
        {% for charityImage in charity.charityImages %}
            <img src="{{ asset('uploads/charities/' ~ charityImage.path)|imagine_filter('charity_photos') }}"/>
        {% endfor %}
    </div>
    Банківський рахунок:<br>
    {{ charity.user.bankDetails }}<br>

    {% if app.request.attributes.get('_route') == 'charity_show' and charity.isActive != false %}
        {{ form_start(donation_form) }}
        <div class="panel panel-primary base-panel donation-panel">
            <div class="panel-heading">
                <h4>Зробити пожертвування</h4>
            </div>
            <div class="panel-body">
                {{ form_widget(donation_form) }}
                {{ form_errors(donation_form) }}
            </div>
            <div class="panel-footer">
                <input type="submit" value="Пожертвувати" class="btn btn-success btn-form" />
            </div>
        </div>
        {{ form_end(donation_form) }}
    {% endif %}
    {% include ':Charity:charity_footer.html.twig' %}
    <div id="comments">
        <div id="comments-list">
            <h3>Коментарів: {{ charity.comments|length }}</h3>
            {% for comment in charity.comments %}
                <div class="media">
                    <div class="pull-left">
                        <img class="avatar img-circle" src="{{ asset('uploads/users/' ~ comment.user.avatarFileName)|imagine_filter('user_avatar') }}" alt="">
                    </div>
                    <div class="media-body">
                        <div class="well">
                            <div class="media-heading">
                                <strong>{{ comment.user.username }}</strong>&nbsp;
                                <small>{{ comment.createdAt|date("d M, Y") }}</small>
                            </div>
                            <p>{{ comment.content }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% if app.request.attributes.get('_route') == 'charity_show' %}
            {% if is_granted('ROLE_USER') %}
                <div id="comment-form">
                    <h3>Залишити коментар</h3>
                    {{ form_start(comment_form) }}
                    {{ form_widget(comment_form) }}
                    <br>
                    <button type="submit" class="btn btn-danger btn-default">Зберегти коментар</button>
                    {{ form_end(comment_form) }}
                </div>
            {% else %}
                <div class="comments">
                    <p  style="text-align: center">
                        Щоб комментувати запити слід - <a href="{{ path('login')}}" class=" btn btn-primary">авторизуватися</a><br>
                    </p>
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>