{% extends ':Base:base_with_left_sidebar.html.twig' %}

{% set title = 'Організація' %}

{% block content %}
    <div class="userinfo">
        <h1>Організація {{ profile.username}}</h1>
        <img  src="{{ asset('uploads/users/' ~ profile.avatarFileName) }}" width="20%" alt="" />
        <br>
        {% if is_granted('ROLE_MODERATOR') and profile.role != 'ROLE_ADMIN' and profile.role != 'ROLE_MODERATOR' %}
            {% if profile.isActive %}
                <a href="{{ path('block_user', {'slug': profile.slug}) }}" class="btn btn-form btn-danger">Блокувати</a>
            {% else %}
                <a href="{{ path('block_user', {'slug': profile.slug}) }}" class="btn btn-form btn-warning">Активувати</a>
            {% endif %}
        {% endif %}
        <br>
        Назва організації: <span class="username">{{ profile.organizationName }}</span><br>
        Web сайт: <a href="{{ profile.website }}">{{ profile.website }}</a><br>
        e-mail: <a href="mailto:{{ profile.email }}">{{ profile.email }}</a><br>
        Телефон: {{ profile.phone }}<br>
        <small>Дата створення: {{ profile.createdAt|date("m-d-Y H:i:s a") }} </small>
        <br>

        Запити:
        {% for charity in profile.charities %}
            <p class="description">
                <a href="{{ path('charity_show', {'slug': charity.slug}) }}" class="title">{{ loop.index }}. {{ charity.title }}</a>
            </p>
        {% else %}
            <li>Немає жодного запиту.</li>
        {% endfor %}
    </div>
{% endblock %}

