<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Online платформа благодійності - {{ page_title() }}</title>
    <link href="{{ asset('css/app.css') }}" rel="stylesheet">
    <link href="{{ asset('css/icomoon-social.css') }}" rel="stylesheet">
    <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/prettyPhoto.css') }}" rel="stylesheet">
    <link href="{{ asset('css/animate.css') }}" rel="stylesheet">
    <link href="{{ asset('css/bootstrap-social.css') }}" rel="stylesheet">
    <link href="{{ asset('css/main.css') }}" rel="stylesheet">
    <link href="{{ asset('css/contact.css') }}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="{{ asset('js/html5shiv.js') }}"></script>
    <script src="{{ asset('js/respond.min.js') }}"></script>
    <![endif]-->
    <link rel="shortcut icon" href="{{ asset('images/ico/favicon.ico') }}">
</head>
<body>

{# begin menu #}
    {% block main_menu %}
        {% include ':Menu:main_menu.html.twig' %}
    {% endblock %}
    {# end menu #}

    {# begin submenu #}
    {% block sub_menu %}
        {% include ':Menu:sub_menu_common.html.twig' %}
    {% endblock %}
    {# end submenu #}

    {# begin page body #}
    {% block page_body %}
    {% endblock %}
    {# end page body #}

    {# begin sub_footer#}
    {% block sub_footer %}
        {% include ':Footer:sub_footer.html.twig' %}
    {% endblock %}
    {# end sub_footer #}

    {# begin main_footer#}
    {% block main_footer %}
        {% include ':Footer:main_footer.html.twig' %}
    {% endblock %}
    {# end main_footer #}

    {#begin javascript#}
    {% block javascript %}
        <script src="{{ asset('js/app.js') }}"></script>
        <script src="{{ asset('js/jquery.prettyPhoto.js') }}"></script>
        <script src="{{ asset('js/main.js') }}"></script>
        {% block additional_javascripts %}
        {% endblock %}
    {% endblock %}
    {#end javascript#}

</body>
</html>