{% if pager is defined and pager.nbPages > 1 %}
    <ul class="pagination pagination-lg">
        {% if pager.currentPage > 1 %}
            {% if app.request.attributes.get('_route') == 'charity_index' %}
                <li><a href="{{ path('charity_index', {'page': pager.currentPage - 1 }) }}"><i class="fa fa-angle-left"></i></a></li>
            {% else %}
                <li><a href="{{ path('charity_index_filtered', {'page': pager.currentPage - 1, 'filter': app.request.attributes.get('filter'), 'slug': app.request.attributes.get('slug'), 'sortmode': app.request.attributes.get('sortmode')}) }}"><i class="fa fa-angle-left"></i></a></li>
            {% endif %}
        {% else %}
            <li class="disabled"><a><i class="fa fa-angle-left"></i></a></li>
        {% endif %}

        {% for i in 1..pager.nbPages %}
            {% if i == pager.currentPage %}
                <li class="active"><a>{{ i }}</a></li>
            {% else %}
                {% if app.request.attributes.get('_route') == 'charity_index' %}
                    <li><a href="{{ path('charity_index', {'page': i}) }}">{{ i }}</a></li>
                {% else %}
                    <li><a href="{{ path('charity_index_filtered', {'page': i, 'filter': app.request.attributes.get('filter'), 'slug': app.request.attributes.get('slug'), 'sortmode': app.request.attributes.get('sortmode')}) }}">{{ i }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if pager.currentPage < pager.nbPages %}
            {% if app.request.attributes.get('_route') == 'charity_index' %}
                <li><a href="{{ path('charity_index', {'page': pager.currentPage + 1 }) }}"><i class="fa fa-angle-right"></i></a></li>
            {% else %}
                <li><a href="{{ path('charity_index_filtered', {'page': pager.currentPage + 1, 'filter': app.request.attributes.get('filter'), 'slug': app.request.attributes.get('slug'), 'sortmode': app.request.attributes.get('sortmode')}) }}"><i class="fa fa-angle-right"></i></a></li>
            {% endif %}
        {% else %}
            <li class="disabled"><a><i class="fa fa-angle-right"></i></a></li>
        {% endif %}
    </ul>
{% endif %}