<header class="navbar navbar-inverse navbar-fixed-top wet-asphalt" role="banner">
    <div class="container">
        {# begin logo #}
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('index_page') }}"><img src="{{ asset('images/logo.png') }}" alt="logo"></a>
        </div>
        {# end logo #}
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('index_page') }}">Головна</a></li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">Категорії <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu">
                        {% for category in all_categories() %}
                            <li><a href="{{ path('charity_index_filtered', {'page': 1, 'filter': 'category', 'slug': category.slug, 'sortmode': 'd'}) }}">{{ category.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li><a href="#">Користувачі</a></li>
                <li><a href="#">Організації</a></li>
                <li><a href="{{ path('contact_page') }}">Контакти</a></li>
                <li><a href="{{ path('charity_new') }}"><b>Створити запит</b></a></li>
            </ul>
        </div>
    </div>
</header>