<section id="title" class="emerald">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h1>{{ page_title() }}</h1>
            </div>
            <div class="col-sm-4 lng-city-zone">
                <div class="lng-menu">
                    <span class="dropdown">
                        <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">Мова інтерфейсу: {{ current_language() }}</button>
                        <ul class="dropdown-menu">
                            {% for language in available_languages() %}
                                {% if language != current_language() %}
                                    <li><a href="{{ path('config_show', {'param': 'lng', 'value': language}) }}">{{ language }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </span>
                </div>
            </div>
            <div class="container col-sm-4">
                {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                    {{ render(controller('AppBundle:Security/Security:embeddedLoginForm')) }}
                {% else %}
                    <div class="row">
                        <div class="col-sm-offset-2 col-sm-10 profile-zone">
                            {% if app.user.avatarFileName is defined %}
                                <img class="avatar img-circle" src="{{ asset('uploads/users/' ~ app.user.avatarFileName)|imagine_filter('user_avatar_small') }}" alt="">
                            {% endif %}
                            <span class="user-name">{{ app.user.username }}</span>
                            <div>
                                <a role="button" class="btn btn-success btn-sm" href="{{ path('charity_manager_index') }}">Особистий кабінет</a><br>
                            </div>
                            <div>
                                <a role="button" class="btn btn-warning btn-sm" href="{{ path('logout') }}">Вихід</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>