<section id="title" class="emerald">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h1>{{ page_title() }}</h1>
                <ul class="breadcrumb">
                    {% for bread_crumb in bread_crumbs() %}
                        {% if loop.index < bread_crumbs()|length %}
                            <li><a href="#">{{ bread_crumb }}</a></li>
                        {% else %}
                            <li class="active">{{ bread_crumb }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-4">
                <div class="lng-menu">
                    <span class="menu-title">Вибрана мова інтерфейсу:</span>
                        <span class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">{{ current_language() }}</a>
                            <ul class="dropdown-menu">
                                {% for language in available_languages() %}
                                    {% if language != current_language() %}
                                        <li><a href="{{ path('config_show', {'param': 'lng', 'value': language}) }}">{{ language }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </span>
                </div>
                <div class="city-menu">
                    <span class="menu-title">Ваше місто:</span>
                        <span class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">{{ current_city() }}</a>
                            <ul class="dropdown-menu">
                                {% for city in available_cities() %}
                                    {% if city != current_city() %}
                                        <li><a href="{{ path('config_show', {'param': 'city', 'value': city}) }}">{{ city }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </span>
                </div>
            </div>
            <div class="container col-sm-4">
                {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                    {{ render(controller('AppBundle:Security/Security:showEmbeddedLoginForm')) }}
                {% endif %}
            </div>
        </div>
    </div>
</section>