{% form_theme login_form 'bootstrap_3_layout.html.twig' %}
<div class="row">
    {{ form_start(login_form) }}
        <fieldset class="login-form">
            <div class="form-group col-sm-5">
                {{ form_widget(login_form.username, {"attr": {"class": "form-control input-sm", "placeholder": "Користувач / E-Mail"}}) }}
            </div>
            <div class="form-group col-sm-5">
                {{ form_widget(login_form.password, {"attr": {"class": "form-control input-sm", "placeholder": "Пароль"}}) }}
            </div>
            <div class="form-group col-sm-2">
                <button class="btn btn-success btn-sm btn-block">Ввійти</button>
            </div>
            <div class="form-group form-inline">
                {{ form_widget(login_form.remember_me, {"attr": {"class": "checkbox"}, "label": " Запам'ятати мене"}) }}&nbsp;&nbsp;&nbsp;
                <a class="checkbox" href="#">Нагадати пароль</a>
                <a role="button" class="btn btn-success btn-sm pull-right" href="{{ path('registration') }}">Реєстрація</a>
            </div>
            <div class="form-group">
                <label>Ввійдіть за допомогою:</label>&nbsp;&nbsp;
                <a href="{{ path('index_page') }}connect/facebook" class="btn btn-social-icon btn-facebook btn-sm">
                    <span class="fa fa-facebook"></span>
                </a>
                <a href="{{ path('index_page') }}connect/vkontakte" class="btn btn-social-icon btn-vk btn-sm">
                    <span class="fa fa-vk"></span>
                </a>
            </div>
        </fieldset>
        {{ form_rest(login_form) }}
    {{ form_end(login_form) }}
</div>