{% extends ':Base:base_wo_sidebar_centered.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% set title = 'Реєстрація нової Організації' %}

{% block content %}
    {{ form_start(form) }}
        {% embed '::Panel/save_panel.html.twig'%}
            {% block panel_title %}Реєстрація нового користувача (Організація){% endblock %}
            {% block panel_body %}
                {{ form_row(form.username) }}
                {{ form_row(form.email) }}
                {% for plainPassword in form.plainPassword %}
                    {{ form_label(plainPassword, null) }}
                    {{ form_widget(plainPassword) }}
                {% endfor %}
                {{ form_row(form.organizationName) }}
                {{ form_row(form.organizationDocuments) }}
                {{ form_row(form.activityProfile) }}
                {{ form_row(form.categories) }}
                {{ form_row(form.showOtherCategories) }}
                {{ form_row(form.avatarFileName) }}
                {{ form_row(form.bankDetails) }}
                {{ form_row(form.address) }}
                {{ form_row(form.phone) }}
                {{ form_row(form.website) }}
                {{ form_row(form.followCategories) }}
            {% endblock %}
            {#<a href="{{ path('login') }}" class=" btn btn-info btn-form">Назад</a>#}
            {% block submit_button %}Регистрация{% endblock %}
        {% endembed %}
    {{ form_end(form) }}
{% endblock %}